body {
    margin: 0;
    padding: 140px;
    font-family: 'Jost', sans-serif;
    background: #323232;
}


/* Pielāgojam "User Info" kastes stilu */
#greetingBox {
    width: calc(33.333% - 20px); /* Saglabājam kastes izmērus nemainīgus */
    height: 700px;
    display: flex; /* Izmantojiet flexbox, lai kontrolētu izkārtojumu */
    flex-direction: column; /* Elementi tiek kārtoti kolonnā */
    align-items: center; /* Centrē elementus horizontāli */
    justify-content: flex-start; /* Sāk elementu izkārtojumu no augšas */

}

/* Pielāgojam virsraksta stilu */
#greetingBox h1 {
    font-size: 2.5em;
    color: #15cf75;
    margin: 20px 0 10px; /* Pievieno nedaudz lielāku atstarpi zem virsraksta */
    padding-top: 45px; /* Pievieno padding tikai virsrakstam */

}

/* Pielāgojam vārda un uzvārda stilu */
#greetingBox p {
    color: white;
    font-size: 1.2em;
    margin: 5px 0; /* Neliela atstarpe starp vārdu un uzvārdu */
    padding-left: 20px; /* Pievieno padding tikai teksta kreisajai pusei */
    padding-right: 20px; /* Pievieno padding tikai teksta labajai pusei */
    text-align: left; /* Teksta izlīdzināšana pa kreisi */
    font-family: 'Open Sans', sans-serif;
    margin-top: 25px;
}

/* ... Pārējie stili ... */



.logout-button {
    width: 400%; /* Atbilstošs platums */
    margin-top: 300px; /* Pievieno atstarpi no pēdējā teksta elementa */
    padding: 0px; /* Atbilstošs padding */
    background: #15cf75;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em; /* Atbilstošs fonta izmērs */
    display: block; /* Nodrošina, ka poga ir bloka līmeņa elements */
    text-align: center; /* Teksta izlīdzināšana centrā (ja nepieciešams) */
    transition: .2s ease-in;
    text-align: center; /* Center text inside the button */

}
.logout-form {
    display: block; /* Makes the form a block-level element */
    text-align: center; /* Centers its content */
    width:10%; /* Ensures it takes full width of its parent */
    margin-top: 20px; /* Adjust spacing as needed */
    padding-right: 150px; /* Pievieno padding tikai teksta labajai pusei */

}

/* ... other styles ... */

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Ja vēlaties, lai kastes būtu vienā augstuma līmenī */
    gap: 30px; /* Palielināta atstarpe, bet jāņem vērā kopējais platums */
    width: 100%; /* Palielināts konteinera platums */
    padding: 0 20px; /* Pievienots sānu padding konteineram, ja nepieciešams */
    flex-wrap: nowrap; /* Nomainīts uz nowrap, lai visas kastes būtu vienā rindā */
}

#activeOrders h1 {
    font-size: 2.5em;
    color: #15cf75;
    margin: 20px 0 10px; /* Pievieno nedaudz lielāku atstarpi zem virsraksta */
    padding-top: 45px; /* Pievieno padding tikai virsrakstam */

}


#activeOrders {
    display: flex;
    flex-direction: column;
    width: calc(33.333% - 20px);
    min-height: 700px; /* Minimum height */

    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    overflow: hidden;
    align-items: center;
}

.center-text {
    text-align: center;
}

#activeOrders .delivery-info {
    color: white;
    width: 100%;
    overflow-y: scroll; /* Scrollable content */
    flex-grow: 1; /* Allows the content area to expand */
    max-height: 100%;
    margin-right: 10px; /* Adjust margin */
    margin-bottom: 0.5px; /* Adjust margin */

}


/* Rest of your styles remain unchanged */

.main {
    width: calc(33.333% - 20px); /* Katra kaste aizņem trešdaļu no konteinera platuma, ņemot vērā atstarpi */
    height: 700px;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Required for absolute positioning of pseudo-element */

}




/* Existing Styles ... */

.main:before {
    content: '';
    position: absolute;
    top: -50px; /* Shift the oval upwards */
    left: 0;
    right: 0;
    height: 250px; /* Increase the height for a larger oval */
    background-color: white; /* Oval color */
    border-radius: 100% / 30%; /* Adjust the horizontal / vertical radius */
    z-index: -1;
}



.main h1 {
    font-size: 2.5em;
    color: #15cf75; /* Text color */
    margin-top: -50px; /* Adjust as needed */
    padding: 80px 20px; /* Adjust as needed */
    /* Other styles remain unchanged */
}


/* ... Remaining Styles ... */

.main form input, .main form select {
    width: 70%; /* Increase width of input boxes */
    margin: 10px auto; /* Adjust vertical margin */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9; /* input form background krasas seit */
}

.main form input:disabled {
    background: darkgray;
    color: darkgray;
    border-radius: 5px;
    border: 1px solid darkgray;
}

.main form label {
    margin-top: 5px;

    font-size: 1em;
    color: #fff;
    margin-bottom: 5px; /* Reduce space between label and input */
    display: block;
    text-align: center;
}
.main form {
    text-align: center; /* Centering form contents */
}



.main form select:focus {
    outline: none;
    border-color: #15cf75; /* Highlight color when focused */
}

/* Style for custom dropdown arrow */
.main form select::-ms-expand {
    display: none; /* For IE11 */
}




#chk{
    display: none;
}
.signup{
    position: relative;
    width:100%;
    height: 100%;
}
label{
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}
input{
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}



button{
    width: 100%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    /*background: #573b8a;*/
    background: #15cf75;
    font-size: 1em;
    font-weight: bold;
    margin-top: 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
button:hover{
    /*background: #6d44b8;*/
    background: #504f4f;
}




.login{
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-150px);
    transition: .6s ease-in-out;
}
.login label{
    /*color: #573b8a;*/
    color: #15cf75;
    transform: scale(.6);
}



#chk:checked ~ .login{
    transform: translateY(-456px);
}
#chk:checked ~ .login label{
    transform: scale(1);
}
#chk:checked ~ .signup label{
    transform: scale(.6);
}
